
[submodule "/Users/funny/Desktop/Model/FunnyHorizontalCollectionView/FunnyHorizontalCollectionView/Module/TestFunnyViewController"]
	path = /Users/funny/Desktop/Model/FunnyHorizontalCollectionView/FunnyHorizontalCollectionView/Module/TestFunnyViewController
	url = git@github.com:FunnyFzl/TestFunnyViewController.git
