[submodule "/Users/funny/Desktop/Model/FunnyHorizontalCollectionView/FunnyHorizontalCollectionView/Module/AddressBookNameSort"]
	path = /Users/funny/Desktop/Model/FunnyHorizontalCollectionView/FunnyHorizontalCollectionView/Module/AddressBookNameSort
	url = git@github.com:FunnyFzl/AddressBookNameSort.git
